<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <h2>Регистрация</h2>
    <form id="register-form">
      <input type="text" name="first_name" placeholder="Имя"><br>
      <input type="text" name="last_name" placeholder="Фамилия"><br>
      <input type="email" name="email" placeholder="Email"><br>
      <input type="password" name="password" placeholder="Пароль"><br>
      <select name="gender">
        <option value="">Выбери пол</option>
        <option value="male">Мужской</option>
        <option value="female">Женский</option>
      </select><br>
      <button type="submit">Зарегистрироваться</button>
    </form>

    <script src="/static/js/register.js"></script>
</body>
</html>
